---
import { Image } from 'astro:assets';
import icon from '../../public/open.svg';
import icon1 from '../../public/icon1.svg';
import login from '../../public/login_Instagram.png';
import Cda from '../../public/cda.png';
import Bmw from '../../public/bmw.png';

import tailwind from '../../public/Tecnologes/tailwing.svg';
import react from '../../public/Tecnologes/react.svg';
import node from '../../public/Tecnologes/nodejs.svg';
import mongo from '../../public/Tecnologes/mongodb.svg';
---

<section
  class="lg:flex-col flex w-[94%] md:w-full md:flex md:items-center md:justify-center md:mb-2 flex-col"
>
  <div class="flex flex-col content-center items-center my-8 text-black">
    <h2 class="dark:text-white font-extrabold text-2xl mb-4">Proyectos</h2>
    <h4 class="dark:text-gray-400 sm:text-pretty sm:w-3/4">
      Aqui hay algunos de los proyectos en los que he trabajado estos meses
    </h4>
  </div>
  <div class="lg:flex-col px-6 mx-10 h-auto flex mt-2 w-full content-center items-center">
    <div class="w-full m-2 py-8 px-5 overflow-hidden rounded-3xl bg-white dark:bg-zinc-800">
      <div class="relative w-full items-center flex content-center mb-4 size-5 font-bold">
        <Image class="mr-2" src={icon1} alt="icono" />
        <h2 class="text-black text-lg">Experiencia Laboral</h2>
        <a
          href="https://cda-ecoauto-tunja.vercel.app/"
          rel="noopener"
          target="_blank"
          class="rounded-full border-2 p-2 border-black top-0.25 cursor-pointer hover:scale-105 hover:shadow-xl transition-all ease-in-out right-1 absolute"
        >
          <Image src={icon} alt="icono" />
        </a>
      </div>
      <h2 class="ml-1 dark:text-white mt-2 text-2xl">Bmw</h2>
      <p class="size-4 dark:text-gray-400 font-bold text-gray-700 w-full text-pretty md:pb-2">
        Elabore este sitio web como proyecto personañ
      </p>
      <h4 class="mt-4 dark:text-gray-200 text-black font-bold">
        React, NodeJs, MongoDB, Tailwing, JavaScript.
      </h4>
      <div class="flex z-[999]">
        <div class="flex pointer pr-2">
          <Image
            class="w-10 h-10 transition-all hover:scale-105"
            src={tailwind}
            alt="icono de tailwind"
          />
        </div>
        <div class="flex pointer pr-2 transition-all hover:scale-105">
          <Image class="w-10 h-10" src={react} alt="icono de react" />
        </div>
        <div class="flex pointer pr-2 transition-all hover:scale-105">
          <Image class="w-10 h-10" src={mongo} alt="icono de mongo" />
        </div>
        <div>
          <Image class="w-10 h-10" src={node} alt="icono de node" />
        </div>
      </div>

      <div class="relative h-[20rem] mt-8">
        <a href="https://cda-ecoauto-tunja.vercel.app/" rel="noopener" target="_blank">
          <Image
            class="project_primary-img rounded-xl absolute w-[90%] h-[26rem] -right-6 hover:scale-105 duration-500 transition-all ease-in-out"
            src={Bmw}
            alt="imagen de proyecto"
          />
        </a>
      </div>
    </div>
  </div>

  <div class="lg:flex-col px-6 mx-10 h-auto flex mt-2 w-full content-center items-center">
    <div
      class="lg:w-full w-1/2 m-2 py-8 px-5 overflow-hidden rounded-3xl bg-white dark:bg-zinc-800"
    >
      <div class="relative w-full items-center flex content-center mb-4 size-5 font-bold">
        <Image class="mr-2" src={icon1} alt="icono" />
        <h2 class="text-black text-lg">Experiencia Laboral</h2>
        <a
          href="https://cda-ecoauto-tunja.vercel.app/"
          rel="noopener"
          target="_blank"
          class="rounded-full border-2 p-2 border-black top-0.25 cursor-pointer hover:scale-105 hover:shadow-xl transition-all ease-in-out right-1 absolute"
        >
          <Image src={icon} alt="icono" />
        </a>
      </div>
      <h2 class="ml-1 dark:text-white mt-2 text-2xl">Cda Ecoauto</h2>
      <p class="size-4 dark:text-gray-400 font-bold text-gray-700 w-full text-pretty md:pb-2">
        Elabore este sitio web para una empresa reconocida en Tunja
      </p>
      <h4 class="mt-4 dark:text-gray-200 text-black font-bold">
        Astro, TypeScrip, JavaScript, Css, Tailwind, Html.
      </h4>

      <div class="relative h-60 mt-8">
        <a href="https://cda-ecoauto-tunja.vercel.app/" rel="noopener" target="_blank">
          <Image
            class="project_primary-img rounded-xl absolute w-full h-80 -right-6 hover:scale-105 duration-500 transition-all ease-in-out"
            src={Cda}
            alt="imagen de proyecto"
          />
        </a>
      </div>
    </div>

    <div
      class="lg:w-full w-1/2 m-2 py-8 px-5 overflow-hidden rounded-3xl dark:bg-zinc-800 bg-white"
    >
      <div class="relative w-full flex content-center items-center mb-4 size-5 font-bold">
        <Image class="mr-2" src={icon1} alt="icono" />
        <h2 class="dark:text-white text-black text-lg">Experiencia Laboral</h2>
        <a
          href="https://instagram-three-jade.vercel.app/"
          rel="noopener"
          target="_blank"
          class="rounded-full border-2 p-2 border-black top-0.25 cursor-pointer hover:scale-105 hover:shadow-2xl transition-all ease-in-out right-1 absolute"
        >
          <Image class="" src={icon} alt="icono" />
        </a>
      </div>
      <h2 class="dark:text-gray-400 ml-1 mt-2 text-2xl">Login Instagram</h2>
      <p class="size-4 dark:text-gray-400 font-bold text-gray-700 w-full text-pretty md:pb-8">
        Desarrolle una copia del login de instagram
      </p>
      <h4 class="mt-4 dark:text-gray-200 text-black font-bold">
        React, ReactRouter, Tailwind, Css, Html.
      </h4>

      <div class="relative h-60 mt-8">
        <a href="https://instagram-three-jade.vercel.app/" rel="noopener" target="_blank">
          <Image
            class="project_primary-img rounded-xl absolute w-full h-80 -right-6 hover:scale-105 duration-500 transition-all ease-in-out"
            src={login}
            alt="imagen de proyecto"
          />
        </a>
      </div>
    </div>
  </div>

  <div
    class="flex flex-col m-auto w-3/4 content-center xm:text-center xm:w-full items-center my-8 text-black"
  >
    <h2 class="dark:text-white font-extrabold text-2xl mb-4 ml-24 xm:ml-6">
      Proyectos en ejecucion
    </h2>
    <h4 class="ml-24 xm:ml-6 dark:text-gray-400 sm:text-pretty sm:w-3/4">
      Actualmente estoy trabajando en proyectos como una aplicacion para poder hayar errores
      permitidos en normas y procedicimientos relacionados con <strong>Metrologia</strong> graficando
      estos errores y sus insertidumbres como otros valores requeridos por la norma y estoy desarrollando
      una sitio web para un concesionario de <strong>BMW</strong> hasta una copia de instagram con react
      y mucho mas.
    </h4>
    <h3 class="dark:text-white font-extrabold text-2xl mt-4">
      Nota: <span class="text-lg font-semibold dark:text-gray-400 sm:text-pretty sm:w-3/4"
        >El codigo de estos proyectos podras encontralos en mi github.</span
      >
    </h3>
  </div>
</section>
