---
import { Image } from "astro:assets";
import icon from "../../public/open.svg";
import icon1 from "../../public/icon1.svg";
import boda from "../../public/projectboda.png";
import Cda from "../../public/cda.png";
---

<section class="lg:flex-col flex w-11/12 md:w-full md:flex md:items-center md:justify-center  md:mb-2 flex-col">
    <div class="flex flex-col content-center items-center my-8 text-black">
        <h2 class=" dark:text-white font-extrabold text-2xl mb-4">Proyectos</h2>
        <h4 class=" dark:text-gray-400 sm:text-pretty sm:w-3/4">
            Aqui hay algunos de los proyectos en los que he trabajado estos
            meses
        </h4>
    </div>

    <div
        class="lg:flex-col px-6 mx-10 h-auto flex mt-2 w-full content-center items-center"
    >
        <div
            class="lg:w-full w-1/2 h-auto m-2 py-8 px-5 overflow-hidden rounded-3xl bg-white dark:bg-zinc-800"
        >
            <div
                class="relative w-full text-center items-center flex content-center mb-4 size-5 font-bold"
            >
                <Image class="mr-2" src={icon1} alt="icono" />
                <h2 class="text-black text-lg">Experiencia Laboral</h2>
                <a
                    href="https://cda-ecoauto-tunja.vercel.app/"
                    rel="noopener"
                    target="_blank"
                    class="rounded-full border-2 p-2 border-black top-0.25 cursor-pointer hover:scale-105 hover:shadow-xl transition-all ease-in-out right-1 absolute"
                >
                    <Image src={icon} alt="icono" />
                </a>
            </div>
            <h2 class="ml-1 dark:text-white mt-2 text-2xl">Cda Ecoauto</h2>
            <p class="dark:text-gray-400 size-4 font-bold text-gray-700 w-full text-nowrap">
                Elabore este sitio web para una empresa reconocida en Tunja-Boyaca 
            </p>
            <h4 class="mt-4 dark:text-gray-200 text-black font-bold">
                Astro, TypeScrip, JavaScript, Css, Tailwind, Html.
            </h4>

            <div class="relative h-60 mt-8">
                <a
                    href="https://cda-ecoauto-tunja.vercel.app/"
                    rel="noopener"
                    target="_blank"
                >
                    <Image
                        class="project_primary-img rounded-xl absolute w-full h-80 -right-6 hover:scale-105 duration-500 transition-all ease-in-out"
                        src={Cda}
                        alt="imagen de proyecto"
                    />
                </a>
            </div>
        </div>

        <div
            class="lg:w-full w-1/2 m-2 py-8 px-5 overflow-hidden rounded-3xl dark:bg-zinc-800 bg-white"
        >
            <div
                class="relative w-full flex content-center items-center mb-4 size-5 font-bold"
            >
                <Image class="mr-2" src={icon1} alt="icono" />
                <h2 class="dark:text-white text-black text-lg">Experiencia Laboral</h2>
                <a
                    href="https://boda-joseluis-daniela.vercel.app/"
                    rel="noopener"
                    target="_blank"
                    class="rounded-full border-2 p-2 border-black top-0.25 cursor-pointer hover:scale-105 hover:shadow-2xl transition-all ease-in-out right-1 absolute"
                >
                    <Image class="" src={icon} alt="icono" />
                </a>
            </div>
            <h2 class="dark:text-gray-400 ml-1 mt-2 text-2xl">Tarjeta Inivitacion</h2>
            <p class="size-4 dark:text-gray-400 font-bold text-gray-700 w-full text-pretty">
                Se trata de unas invitaciones para una boda
            </p>
            <h4 class="mt-4 dark:text-gray-200 text-black font-bold">JavaScript, Css, Html.</h4>

            <div class="relative h-60 mt-8">
                <a
                    href="https://boda-joseluis-daniela.vercel.app/"
                    rel="noopener"
                    target="_blank"
                >
                    <Image
                        class="project_primary-img rounded-xl absolute w-full h-80 -right-6 hover:scale-105 duration-500 transition-all ease-in-out"
                        src={boda}
                        alt="imagen de proyecto"
                    />
                </a>
            </div>
        </div>
    </div>
</section>
